@font-face {
  font-family: 'TTNorms-Regular';
  src: url('../fonts/TTNorms-Regular.eot');
  src: url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Regular.woff') format('woff'),
    url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms-Bold';
  src: url('../fonts/TTNorms-Bold.eot');
  src: url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Bold.woff') format('woff'),
    url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ReSquare-Bold';
  src: url('../fonts/ReSquare-Bold.eot');
  src: url('../fonts/ReSquare-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ReSquare-Bold.ttf') format('truetype'),
    url('../fonts/ReSquare-Bold.woff') format('woff'),
    url('../fonts/ReSquare-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin reg {
  font-family: 'TTNorms-Regular', sans-serif;
}

@mixin bold {
  font-family: 'TTNorms-Bold', sans-serif;
}

@mixin heading {
  font-family: 'ReSquare-Bold', sans-serif;
}