.header {
  position: relative;
  padding: 152px 0 90px;
  background: url(../img/header/bg.png);

  @media (max-width: 993px) {
    padding: 122px 0 40px;
  }

  @media (max-width: 447px) {
    padding-top: 80px;
  }
}