.navbar {
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: 447px) {
    padding-top: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    margin-left: 20px;

    @media (max-width: 447px) {
      font-size: 14px;
      padding: 5px 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}

.logo {
  max-width: 110px;

  @media (max-width: 447px) {
    max-width: 70px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.vk-btn {
  margin-top: 5px;

  @media (max-width: 447px) {
    display: none;
  }


  &:hover {
    transition: margin-top .2s;
    margin-top: 4px;
  }
}

.sticky {
  transition: all .4s ease;
  background-color: #fff;
  padding: 5px 0;
}