.navbar {
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: 447px) {
    padding-top: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {

    @media (max-width: 447px) {
      font-size: 14px;
      padding: 7px 12px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}

.logo {
  max-width: 110px;

  @media (max-width: 447px) {
    max-width: 70px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.sticky {
  transition: all .4s ease;
  background-color: #fff;
  padding: 5px 0;
}